<script type="text/javascript" src="analizador.js"></script>
    <form action="" id="form">
        <div class="jumbotron">
            <table class="table">
                <tr>
                    <td>
                        <h4>Entrada </h4>
                    </td>
                    <td>
                        <h4>Consola</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea class="form-control" #entrada rows="12" style="margin-top: 0px; margin-bottom: 0px;"></textarea>
                    </td>
                    <td>
                        <textarea class="form-control" id="txt_consola" readonly name="txt_consola" rows="12" style="margin-top: 0px; margin-bottom: 0px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <button type="button"  (click) = "traducir(entrada.value)" class="btn btn-info">Traducir</button>
                                </td>
                                <td>
                                    <button type="button"  (click) = "traducir(entrada.value)" class="btn btn-info">Traducir</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>         
    </form>       
