<div >         
    <form action="" id="form">
        <div class="jumbotron">
            <h4>Entrada </h4>    
            <textarea class="form-control" id="entrada" name="entrada" rows="15" style="margin-top: 0px; margin-bottom: 0px;"></textarea>
            <br>
            <button type="button" onclick="analizar();"  class="btn btn-info">Analizar</button>
            <input type="file" id="btn_abrir" />
        </div>
    </form>       
    <div class="jumbotron"> 
        <h4>Codigo 3 direcciones</h4>
   
      <textarea class="form-control" id="txt_consolapy" readonly name="txt_consolapy" rows="5" style="margin-top: 0px; margin-bottom: 0px;"></textarea>
      <button type="button" class="btn btn-danger" id="btn_py">Ocultar</button>
      <a class="btn btn-danger" id="btn_guardar_py">Guardar PY</a>
    </div>
</div>