.node circle {
    fill: #fff;
    stroke:black;
    stroke-width: 3px;
}

.node text {
    font: 10px sans-serif;
    stroke: black;
}

.link {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}